/* Dark Mode Styles */
body {
    background-color: #313338; /* Dark background color */
    color: #ffffff; /* Light text color */
}

form {
    display: flex;
    flex-direction: column;
}
ul{
    list-style-type: none;
}
.rightMessage, .leftMessage{
    display: flex;
    list-style: none;
    padding: 10px, 12px;
    margin: 12px;
    word-wrap: break-word;
}
.rightMessage{
    border: #0056b3 5px solid;
}
.leftMessage{
    display: flex;
    justify-content: flex-start;
}

#message_box {
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding: 10px;
    margin-bottom: 20px;
    width: 90%;
    border: 1px solid #383a40; /* Darker border color for input */
    border-radius: 5px;
    background-color: #383a40; /* Darker input background color */
    color: #ffffff; /* Light text color */
    box-shadow: 5px 5px 30px rgba(49, 49, 49, 0.815);
}

button {
    visibility: hidden;
    padding: 10px;
    background-color: #688d67; /* Accent color for the button */
    color: #ffffff; /* Light text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Darker accent color on hover */
}
