/* Dark Mode Styles */
body {
    background-color: #313338; /* Dark background color */
    color: #ffffff; /* Light text color */
}

form {
    display: flex;
    flex-direction: column;
}
ul{
    list-style-type: none;
}
.rightMessage, .leftMessage{
    display: flex;
    list-style: none;
    padding: 10px, 12px;
    margin: 12px;
    word-wrap: break-word;
}


#message_box {
    width: auto;
    padding: 10px;
    border: 1px solid #383a40; /* Darker border color for input */
    border-radius: 5px;
    background-color: #383a40; /* Darker input background color */
    color: #ffffff; /* Light text color */
    box-shadow: 5px 5px 30px rgba(49, 49, 49, 0.815);
}
/* 
#typingDiv {
    visibility: visible;
    font-size: small;
    color: #7e8086;
    position: absolute;
    bottom: 0;
    margin-bottom: 35px;
    padding: 20px;
    border: #313338 solid 1px;
} */

.typingDiv {
    display: grid;
    grid-auto-flow: row;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 90%;

    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-bottom: 20px;
}

#typingTextDiv {
    visibility: hidden;
    padding-bottom: 3px;
    font-size: small;
    color: #7e8086;
}